body{
  /* height: 200px; */
  /* width: 300px; */
  text-align: center;
  background: rgb(42, 41, 43);
  color:#FFF;
}

h2{
  cursor: pointer;
}
img{
  text-align: center;
  height: 100%;
  width: 200px;
}
@font-face{
  font-family: 'customer-font';
  src:url('./assets/font/iconfont.woff'),
  url('./assets/font/iconfont.ttf'),
  url('./assets/font/iconfont.woff2');
  font-size:'36px'
}
.hello{
  color: greenyellow;
  font-family: 'customer-font';
}